html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

:root {
    --color-background-light-mode: #F2F3F5;
    --color-background-dark-mode: #404040;

    --color-text-light-mode: #666;
    
    --color-purple-100: #3D48F5;
    --color-purple-200: #3E4AF7;
    --color-purple-400: #404CFF;

    --color-blue-100: #1B206B;
    --color-blue-200: #1D2375;

    --color-gray-100: #A1B3B0;
    /* cores em tons de roxo */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
